## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>
<%namespace name="annotations" file="annotation_helper.tmpl"/>

${set_locale(lang)}
${base.html_headstart()}
${template_hooks['extra_head']()}
</head>

<body>
	<nav class="sidebar">
		${header.html_navigation_links()}
	</nav>

	<div class="wrap">
		<div class="masthead">
			<div class="container">
				${header.html_site_title()}
			</div>
		</div>
		<div class="container content" id="content">
			<%block name="content"></%block>
			${footer.html_footer()}
		</div>
	</div>
    ${base.late_load_js()}
    <%block name="extra_js"></%block>
    ${body_end}
    ${template_hooks['body_end']()}
</body>
</html>
