.sidebar {
  	position: fixed;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	background: #000;
  	width: 50px;
	z-index: 1000;
}

.sidebar ul{
	list-style-type: none;
	padding: 0;
}

.sidebar ul li{
	margin: auto;
	width: 50px;
}

.sidebar ul li a {
	font-size: 30px;
	margin-left: 10px;
}

.sidebar ul li a i{
	color: white;
	line-height: 50px;
	text-align: center;
	margin: auto;
}

.separator {
	margin: 5px;
	width: 50px;
	height: 1px;
	background: white;
}


.post-games {
	
}


.post-games header h1 {
	margin: 2.5%;
}

.post-games header h1 a{
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
	font: 80px 'LeagueGothicRegular';
	text-decoration: none;
	cursor: default;
}



.post-games ul{
	list-style: none;
	border: 0px ;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.post-games li{
	width: 45%;
	margin: 2.5%;
	float: left;
}


.post-games li a img{
	margin: 0; 
}

.post-games li a:hover{
	display: block;
	border: 2px blue solid;
	border-radius: 5px;
				
}

.post-games p{
	margin:0;
	margin-top: 1em;
	
}
